@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    @apply font-primary leading-loose;
  }
}

ul.hidden.group-hover\:block.absolute.left-0.top-14.py-3.bg-white.shadow-lg.rounded-md.w-56::after{
  content: "";
  position: absolute;
  left: 16px;
  top: -8px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #00e2bd;
}

.header-notifications-dropdown::before {
  content: "";
  position: absolute;
  right: 43px;
  top: -6px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #d7d7d7;
}

.shadow-job {
  box-shadow: 0 0 12px rgba(42,65,232,.1);
  position: relative;
}

.shadow-job:hover::before {
  background: #00e2bd;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  display: block;
  transition: .3s;
}

.social-icons {
  display: flex;
  justify-content: center; /* Căn giữa các icon theo chiều ngang */
  align-items: center;     /* Căn giữa các icon theo chiều dọc */
  gap: 14px;               /* Khoảng cách giữa các icon */
}

a.icon-social-ft {
  height: 40px;
  color: #fff;
  display: inline-flex; /* Thay display từ inline-block thành inline-flex */
  justify-content: center; /* Căn giữa nội dung bên trong */
  align-items: center;     /* Căn giữa nội dung bên trong */
  transition: 0.3s;
  opacity: 0.5;
  transform: translate3d(0, -0.5px, 0);
  background: #00e2bd;
  width: 40px;
  border-radius: 33% 66% 70% 30% / 49% 62% 38% 51%;
}
a.icon-social-ft:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .footer-background {
    background-color: #303030 !important;
    background-image: none !important;
  }
}